body {
  background-color: bisque;
}
#banner {
  border: 1px solid black;
  background-image: url(/photos/image.jpg);
  height: 100px;
  width: auto;
}
a {
  text-decoration: none;
  color: azure;
}
a:hover {
  text-decoration: underline;
}

#info {
  display: flex;
  gap: 50px;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
#articles {
  display: flex;
  gap: 50px;
}
.articleOne {
  width: 50vw;
  margin-left: 10px;
}
.articleTwo {
  width: 50vw;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
footer {
  width: auto;
  height: 100%;
  border: 1px solid black;
  display: flex;
  gap: auto;
}
footer ul li {
  list-style-type: none;
}
